// Primary

$red:   #d32d27;
$gray:  #58595b;
$black: #000000;
$white: #ffffff;
$graySemi: rgba(88, 89, 91, 0.25);

// Secondary

$burgandy:  #a32136;
$salmon:    #ef907c;
$taupe:     #b7a99a;
$navy:      #1c355e;
$slate:     #7b98ac;

//Social

$facebook:	#3B5998;
$google:	rgb(63, 133, 224);

