@font-face{
    font-family: "Proxima Nova";
    src: url('../fonts/proxima-nova.otf')
}

@font-face{
    font-family: "Proxima Nova Thin";
    src: url('../fonts/proxima-nova-thin.otf')
}

@font-face{
    font-family: "Proxima Nova Bold";
    src: url('../fonts/proxima-nova-bold.otf')
}