// colors

$main-text: #505260; // main text
$background: #fff; // body background color

$color-1: #aebcb9; // Tower Gray
$color-2: #0096a7; // Bondi Blue
$color-3: #0d0d0d; // Cod Gray

$red: #d76666; // error messages

// fonts 

$primary-font: 'PT Sans', sans-serif;

// z-index

$header-zindex: 2;
$modal-zindex: 3;

// header

$header-height-S: 50px;
$header-height-M: 80px;